<ul>
    <li>
        <label class="fw-bold">Income:&nbsp;</label>
        <a href="https://www.census.gov/data/tables/time-series/demo/income-poverty/historical-income-households.html" target="_blank">
            Census.gov (Table H-3)
            <span class="fas fa-external-link"></span>
        </a>
    </li>
    <li>
        <label class="fw-bold">Minimum Wage:&nbsp;</label>
        <a href="https://www.dol.gov/agencies/whd/minimum-wage/history/chart" target="_blank">
            Department of Labor
            <span class="fas fa-external-link"></span>
        </a>
    </li>
    <ng-container *ngFor="let purchaseType of purchaseTypes">
        <li>
            <label class="fw-bold">{{ purchaseType.name }}:&nbsp;</label>
            <a href="{{ purchaseType.sourceUrl }}" target="_blank">
                {{ purchaseType.sourceName }}
                <span class="fas fa-external-link"></span>
            </a>
        </li>
    </ng-container>
</ul>