<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="col-12 col-sm-1 col-lg-3"></div>
        <div class="col-12 col-sm-10 col-lg-6">
            <a class="navbar-brand" href="">
                <img src="assets/images/nav-logo.png" style="height:40px;width:120px;"/>
            </a>
            <span class="text-white">Boomer's sure had it good</span>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/Tools/BoomerChecker">BoomerChecker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Tools/DegreeChecker">DegreeChecker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Tools/RaiseChecker">RaiseChecker</a>
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="col-12 col-sm-1 col-lg-3"></div>
    </div>
</nav>