<google-chart
    [title]="wageProgressionNominalChart.title"
    [type]="wageProgressionNominalChart.type"
    [data]="wageProgressionNominalChart.data"
    [columns]="wageProgressionNominalChart.columns"
    [options]="wageProgressionNominalChart.options"
    class="w-100 progression-chart"
>
</google-chart>
<google-chart
    [title]="wageProgressionRealChart.title"
    [type]="wageProgressionRealChart.type"
    [data]="wageProgressionRealChart.data"
    [columns]="wageProgressionRealChart.columns"
    [options]="wageProgressionRealChart.options"
    class="w-100 progression-chart"
>
</google-chart>
<google-chart
    [title]="wageProgressionNominalPctChart.title"
    [type]="wageProgressionNominalPctChart.type"
    [data]="wageProgressionNominalPctChart.data"
    [columns]="wageProgressionNominalPctChart.columns"
    [options]="wageProgressionNominalPctChart.options"
    class="w-100 progression-chart"
>
</google-chart>
<google-chart
    [title]="wageProgressionRealPctChart.title"
    [type]="wageProgressionRealPctChart.type"
    [data]="wageProgressionRealPctChart.data"
    [columns]="wageProgressionRealPctChart.columns"
    [options]="wageProgressionRealPctChart.options"
    class="w-100 progression-chart"
>
</google-chart>