<h3 class="small mb-0 ps-2 pe-2 text-center">
    -- Settle the debate --
</h3>
<div class="d-flex justify-content-center">
    <div>
        <div class="mt-3">
            <strong>Compare&nbsp;</strong> 
            <select class="text-center" [(ngModel)]="pageFilters.selectedPurchaseType" (ngModelChange)="selectedPurchaseTypeChanged($event)">
                <option *ngFor="let purchaseType of purchaseTypes" [ngValue]="purchaseType">{{ purchaseType.altName }}</option>
            </select>  
        </div>
        <div class="mt-3 mb-3">
            <strong>in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>    
            <select [(ngModel)]="pageFilters.selectedStartingYear" (ngModelChange)="selectedStartingYearChanged($event)">
                <option *ngFor="let year of allowedYears" [ngValue]="year">{{year}}</option>
            </select>
            <strong>&nbsp; to {{ maxYear }}</strong>
        </div>
    </div>
</div>
<!-- Costs over time panel -->
<div class="panel-container row mt-1">
    <mat-expansion-panel #priceInflationPanel [expanded]="false" (opened)="panelOpened('priceInflationPanel')">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Average Price of a {{ pageFilters.selectedPurchaseType.name }}</strong>    
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-content">
            <div class="w-100">
                <line-chart-race
                    #priceInflationChart
                    [title]="priceInflationChartTitle"
                    [data]="priceInflationDataSeries"
                    [valueFormat]="'currency'">
                </line-chart-race>
            </div>
            <div class="mt-1">
                <table class="table red-dashed-border no-inside-border max-width m-auto">
                    <tbody>
                        <tr>
                            <td><strong>{{ pageFilters.selectedStartingYear }} cost:</strong></td>
                            <td class="text-end">{{ _dataFormatter.formatCurrency(purchaseStartingPrice) }}</td>
                        </tr>
                        <tr>
                            <td><strong>Inflation-Adjusted:</strong></td>
                            <td class="text-end">{{ _dataFormatter.formatCurrency(purchaseInflationAdjustedPrice) }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table blue-dashed-border no-inside-border max-width m-auto mt-2">
                    <tbody>
                        <tr>
                            <td><strong>Actual {{currentYear}} cost:</strong></td>
                            <td class="text-end">{{ _dataFormatter.formatCurrency(purchaseCurrentPrice) }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning max-width m-auto mt-3">
                    Since {{ pageFilters.selectedStartingYear }} the price of a {{ pageFilters.selectedPurchaseType.name }} has 
                    <strong>
                        <span *ngIf="purchaseInflationAdjustedPrice <= purchaseCurrentPrice">
                            increased&nbsp;
                        </span>
                        <span *ngIf="purchaseInflationAdjustedPrice > purchaseCurrentPrice">
                            decreased&nbsp;
                        </span>
                        by {{ _dataFormatter.calculatePercentage(purchaseCurrentPrice, purchaseInflationAdjustedPrice, true) }}%
                    </strong>
                    when adjusted for inflation.
                </div>
                <div class="citation mt-2">
                    Data sourced from
                    <a href="{{ pageFilters.selectedPurchaseType.sourceUrl }}" target="_blank">
                        {{ pageFilters.selectedPurchaseType.sourceName }}
                        <span class="fas fa-external-link"></span>
                    </a>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>
<!-- Wage-data panel -->
<div class="panel-container row mt-3">
    <mat-expansion-panel [expanded]="false" (opened)="panelOpened('wageDataPanel')">
        <mat-expansion-panel-header>
            <mat-panel-title><strong>Compare Wages</strong></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-content col-12">
            <div class="col-12">
                <div class="section-header d-flex justify-content-center">
                    <span>
                        Actual {{ selectedTimeFrame.altName }}
                        <select [(ngModel)]="selectedWageBracket" class="fw-500">
                            <option *ngFor="let wageBracket of wageBrackets" [ngValue]="wageBracket">{{ wageBracket.name }}</option>
                        </select>
                        vs Inflation-Adjusted Wage
                    </span>
                </div>
                <line-chart-race
                    #wageDataChart
                    [title]="''"
                    [data]="wageDataSeries"
                    [valueFormat]="'currency'">
                </line-chart-race>
            </div>
            <wage-data
                [startYear]="pageFilters.selectedStartingYear"
                [endYear]="currentYear"
                [startingAnnualData]="startingAnnualData"
                [endingAnnualData]="currentAnnualData"
                [selectedWageBracket]="selectedWageBracket"
            >
            </wage-data>
        </div>
    </mat-expansion-panel>
</div>
<!-- Work-Time Panel -->
<div class="panel-container row mt-3">
    <mat-expansion-panel [expanded]="false" (opened)="panelOpened('workTimePanel')">
        <mat-expansion-panel-header>
            <mat-panel-title><strong>Time Spent Saving</strong></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-content col-12">
            <work-time
                #workTime
                [pageFilters]="pageFilters"
                [currentYear]="currentYear"
                [purchaseStartingPrice]="purchaseStartingPrice"
                [purchaseCurrentPrice]="purchaseCurrentPrice"
                [startingAnnualData]="startingAnnualData"
                [endingAnnualData]="currentAnnualData"
                [allAnnualData]="allAnnualData"
                [timeFrames]="timeFrames"
                [selectedTimeFrame]="selectedTimeFrame">
            </work-time>
        </div>
    </mat-expansion-panel>
</div>