<h3 class="small mb-0 ps-2 pe-2 text-center">
    -- Settle the debate --
</h3>
<div class="d-flex justify-content-center mt-3">
    <strong>Compare&nbsp;</strong> 
    <select class="text-center" [(ngModel)]="pageFilters.selectedPurchaseType" (ngModelChange)="selectedPurchaseTypeChanged($event)">
        <option *ngFor="let purchaseType of purchaseTypes" [ngValue]="purchaseType">{{ purchaseType.altName }}</option>
    </select>  
</div>
<div class="d-flex justify-content-center mt-3 mb-3">
    <strong>in&nbsp;</strong>    
    <select [(ngModel)]="pageFilters.selectedStartingYear" (ngModelChange)="selectedStartingYearChanged($event)">
        <option *ngFor="let year of allowedYears" [ngValue]="year">{{year}}</option>
    </select>
    <strong>&nbsp; to {{ maxYear }}</strong>
</div>
<div class="panel-container row mt-1">
    <mat-expansion-panel #priceInflationPanel [expanded]="false" (opened)="panelOpened('priceInflationPanel')">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Average Price of a {{ pageFilters.selectedPurchaseType.name }}</strong>    
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-content">
            <div class="w-100">
                <line-chart-race
                    #priceInflationChart
                    [title]="priceInflationChartTitle"
                    [data]="priceInflationDataSeries"
                    [valueFormat]="'currency'">
                </line-chart-race>
            </div>
            <div class="mt-1">
                <table class="table red-dashed-border no-inside-border">
                    <tbody>
                        <tr>
                            <td><strong>{{ pageFilters.selectedStartingYear }} cost:</strong></td>
                            <td class="text-end">{{ _dataFormatter.formatCurrency(purchaseStartingPrice) }}</td>
                        </tr>
                        <tr>
                            <td><strong>Inflation Adjusted:</strong></td>
                            <td class="text-end">{{ _dataFormatter.formatCurrency(purchaseInflationAdjustedPrice) }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table blue-dashed-border no-inside-border">
                    <tbody>
                        <tr>
                            <td><strong>Actual {{currentYear}} cost:</strong></td>
                            <td class="text-end">{{ _dataFormatter.formatCurrency(purchaseCurrentPrice) }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning">
                    Since {{ pageFilters.selectedStartingYear }} the price of a {{ pageFilters.selectedPurchaseType.name }} has 
                    <strong>
                        increased by {{ _dataFormatter.calculatePercentage(purchaseCurrentPrice, purchaseInflationAdjustedPrice, true) }}%
                    </strong>
                    when adjusted for inflation
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>
<div class="panel-container row mt-3">
    <mat-expansion-panel [expanded]="false" (opened)="panelOpened('wageDataPanel')">
        <mat-expansion-panel-header>
            <mat-panel-title><strong>Compare Wages</strong></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-content col-12">
            <div class="col-12">
                <h3>
                    Actual {{ selectedTimeFrame.altName }}
                    <select [(ngModel)]="selectedWageBracket">
                        <option *ngFor="let wageBracket of wageBrackets" [ngValue]="wageBracket">{{ wageBracket.name }}</option>
                    </select>
                    vs Inflation Adjusted Wage
                </h3>
                <line-chart-race
                    #wageDataChart
                    [title]="''"
                    [data]="wageDataSeries"
                    [valueFormat]="'currency'">
                </line-chart-race>
            </div>
            <wage-data
                [startYear]="pageFilters.selectedStartingYear"
                [endYear]="currentYear"
                [startingAnnualData]="startingAnnualData"
                [endingAnnualData]="currentAnnualData"
                [selectedTimeFrame]="selectedTimeFrame"
                [selectedWageBracket]="selectedWageBracket"
            >
            </wage-data>
        </div>
    </mat-expansion-panel>
</div>
<div class="panel-container row mt-3">
    <mat-expansion-panel [expanded]="false" (opened)="panelOpened('workTimePanel')">
        <mat-expansion-panel-header>
            <mat-panel-title><strong>Time Spent Saving</strong></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="section-content col-12">
            <div>
                <select [(ngModel)]="selectedTimeFrame" class="d-inline">
                    <option *ngFor="let timeFrame of timeFrames" [ngValue]="timeFrame">{{timeFrame.name}}</option>
                </select> 
                of work required to purchase a {{ pageFilters.selectedPurchaseType.name }}
            </div>
            <div class="mt-2 justify-content-center">
                <work-time-chart
                    #workTimeContainer
                    [startYear]="pageFilters.selectedStartingYear"
                    [endYear]="currentYear"
                    [annualData]="allAnnualData"
                    [purchaseType]="pageFilters.selectedPurchaseType"
                    [timeFrames]="timeFrames"
                    [(selectedTimeFrame)]="selectedTimeFrame">
                </work-time-chart>
            </div>
            <work-time
                #workTime
                [startYear]="pageFilters.selectedStartingYear"
                [endYear]="currentYear"
                [purchaseStartingPrice]="purchaseStartingPrice"
                [purchaseCurrentPrice]="purchaseCurrentPrice"
                [startingAnnualData]="startingAnnualData"
                [endingAnnualData]="currentAnnualData"
                [purchaseType]="pageFilters.selectedPurchaseType"
                [timeFrames]="timeFrames"
                [(selectedTimeFrame)]="selectedTimeFrame">
            </work-time>
        </div>
    </mat-expansion-panel>
</div>
<div class="pe-1 mt-3 d-flex justify-content-end">
    <button class="btn btn-primary" (click)="openFilterPanel()">Filters</button>
</div>
<modal 
    #modal
    [modalConfig]="filterModalConfig"
>
    <filter-panel
        #filterPanel
        [(filters)]="pageFilters"
        [allowedYears]="allowedYears"
        [purchaseTypes]="purchaseTypes"
    >
    </filter-panel>
</modal>